@model Book
@{
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
@section css{
    <link rel="stylesheet" href="~/css/delete.css" />

}
<div class="row justify-content-center" style="position:fixed; top:10rem;left:38rem;background-color:white;z-index:100;>
    <div class="modal-dialog" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete this book?</p>
            </div>
            <div class="modal-footer">
                <a asp-controller="Book" asp-action="DeleteBookConfirmed" asp-route-id="@Model.Id" type="button" class="btn btn-danger">Yes</a>
                <a asp-controller="Book" asp-action="Details" asp-route-id="@Model.Id" type="button" class="btn btn-secondary">No</a>
            </div>
        </div>
    </div>
</div>

<!-- Page Content -->
<div class="container" style="opacity:20%" >
    

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">
        @Model.Title
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-4">
            <img class="rounded border border-dark float-left" width="350px" height="450px" src="@Model.FrontPage" alt="">
        </div>

        <div class="col-md-8">
            <h3 class="my-3">Book Description</h3>
            @if(Model.Description == null)
            {
                <h5>No description!</h5>
            }
            <p>@Model.Description</p>
            <h3 class="my-3">Book Details</h3>
            <ul>
                <li><b>Year published: </b>@Model.YearPublished</li>
                <li><b>Num pages: </b>@Model.NumPages</li>
                <li><b>Publisher: </b>@Model.Publisher</li>
                <li><b>Author: </b>@Model.Author.FirstName @Model.Author.LastName</li>
                <li><b>Genres: </b>@foreach (var bg in Model.BookGenres)
                    {
                        <span>@bg.Genre.GenreName </span>
                    }
                </li>
                @{
                    int suma = 0;
                    int br = 0;
                    var rating = "/";
                    @foreach (var r in Model.Reviews)
                    {
                        suma += r.Rating.GetValueOrDefault();
                        br++;
                    }
                    if (br !=0)
                    {
                        rating = (suma / br).ToString();
                    }
                }
                <li><b>Rating: </b>@rating</li>
            </ul>
            <br />
            @if (Model.DownloadUrl != null)
            {
                <h4>Download link: </h4>
                <span>@Model.DownloadUrl</span>
            }
        </div>
    </div>
    <br />
    <hr />
    
    <!-- Reviews -->
    <div class="main-container">
        <div>
            <h1 class="text-center">Reviews</h1>
            <a asp-controller="Review" asp-action="CreateReview" asp-route-id="@Model.Id" type="button" class="btn btn-primary position-absolute" style="margin-left:65rem; margin-top:-2.5rem">Create Review</a>
        </div>
        <hr />
        <div class="cards">
            @foreach (var review in Model.Reviews)
            {
            <div class="card">
                    <h4>@review.AppUser</h4>
                    <div>
                        <ul>
                            @for (var i = 0; i < review.Rating; i++)
                            {
                                <li><i class="fa-solid fa-star"></i></li>
                            }
                        </ul>
                    </div>
                    
                <p class="close"><i class="fa-solid fa-xmark"></i></p>
                <p class="desc">@review.Comment</p>
                <p class="read-more">
                    <a asp-controller="Review" asp-action="EditReview" asp-route-id="@review.Id" type="button" class="btn btn-dark">Edit</a>
                    <a asp-controller="Review" asp-action="DeleteReview" asp-route-id="@review.Id" type="button" class="btn btn-danger">Delete</a>
                </p>
            </div>
            }
        </div>
    </div>
</div>
<!-- /.container -->
